$PANTONE-MAIN: #56baed;
$PANTINE-SECONDARY: #132630;
$PANTONE-TERNARY: #97e493;

.footer-nav {
  background-color: $PANTINE-SECONDARY;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-around;

  .nav-item {
    width: 100%;
    height: 100%;
    align-self: center;

    &:hover {
      background-color: $PANTONE-MAIN;
    }

    a {
      text-decoration: none;
      color: white;
      display: block;
      align-self: center;
      padding: 10%;
    }
  }
}
