$PANTONE-MAIN: #56baed;
$PANTINE-SECONDARY: #5b8092;
$PANTONE-TERNARY: #97e493;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf) format('ttf');
}

body {
  font-family: 'Roboto-Light', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}
